#kop {     
    background-color: #e2cfbd;
    border: thin solid white;
    height: 150px;
    text-align: center;
    margin 0;
    padding: 0;
    font-weight: bold;
}
#koph1{
    text-align: center; 
    font-size: 100px; 
    margin: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    width: 300px;
    height: 100%;
    min-height: 790px;
    max-height: max-content;
    background-color: #e2cfbd;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}
.active {
    background-color: #9a9a9a;
    color: white;
}
#quote {
    margin-left: 300px;
    margin-top: -810px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1280px;
}
#sidebar {
   
    list-style-type: none;
    margin-left: 1603px;
    margin-top: -142px;
    width: 300px;
    height: 910px;
    background-color: #e2cfbd;
}

.fa {
    margin-top: 45px;
    margin-left: 5px;
    padding: 20px;
    font-size: 7px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: red;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: purple;
    color: white;
}
.fa-google {
    background: #e4cf5c;
    color: white;
}
#fi {
    position: fixed;
    bottom: 0;
    width: 1903px;
    background-color: #e2cfbd;
    height: 150px;
    margin-top: -100px;
}
#fp {
    position: fixed;
    bottom: 0;
    width: 1903px;
    background-color: #e2cfbd;
    height: 150px;
    margin-top: 620px;
}
#fb {
    position: fixed;
    bottom: 0;
    width: 1903px;
    background-color: #e2cfbd;
    height: 150px;
}
#sidebarb {
    list-style-type: none;
    margin-left: 1603px;
    margin-top: -832.5px;
    width: 300px;
    height: 832.5px;
    background-color: #e2cfbd;  
}
#copyright {
    text-align: center;
    margin-top: -50px;
}
a:link {
    text-decoration: none;
    color: black;
} 
a:visited {
    text-decoration: none;
    color: black;
} 
a:hover {
    text-decoration: none;
    color: rgb(82, 82, 82);
}  
a:active {
    text-decoration: none;
    color: black; 
}
aside { 
    background: #9a9a9a;
    float: right;
    margin-top: -650px;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-right: 65px;
 }
 body {
    background-color: rgb(228, 228, 228);
 }
h3 {
    text-align: center;
}
#titel {
    font-size: 48px;
    text-align: center;
    margin-top: -760px;
}
#titelb {
    font-size: 48px;
    text-align: center;
    margin-top: -760px;
}
p   {
    padding-left: 310px;
    padding-right: 310px;
}
marquee {
    margin-top: 30px;
}
#tekstbio {
    margin:4px, 4px;
    padding:4px;
    width: 1295px;
    height: 530px;
    margin-top: -15px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin-left: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#bron {
    text-align: center;
}
#imgb {
    width: 124px;
    height: 166px;
}
#imgbd {
    margin-left: 1075px;
    margin-top: -1000px;
}
#marqi {
    background-color: rgb(228, 228, 228);
    position: relative;
}
#imgu {
    height: 150px;
    width: 150px;
}
#imgud {
    margin-top: -1375px;
    margin-left: 1075px;
}
#imgu2 {
    height: 150px;
    width: 75px;
}
#imgud2 {
    margin-top: 1060px;
    margin-left: 1065px;
}
#imgr {
    height: 175px;
    width: 125px;
}
#imgrd {
    margin-left: 1075px;
    margin-top: -435px;
}
#img4{
    width: 200;
    height: 275px;
}
#img5{
    width: 250px;
    height: 250px;
}
#img1i{
    margin: -750px;
    margin-left: 350px;
    position: fixed;
}
#img2i{
    margin-top: -750px;
    margin-left: 1325px;
    position: fixed;
}
#img3i{
    margin-top: -425px;
    margin-left: 800px;
    position: fixed;
}
#img4i{
    margin-left: 350px;
    margin-top: -450px;
    position: fixed;
}
#img5i{
    margin-left: 1275px;
    margin-top: -425px;
    position: fixed;
}
#ti {
    text-align: center;
    margin-top: -675px;
    margin-left: 450px;
    width: 1000px;
}
#aff {
    text-align: center;
    font-family: Arial;
    font-size: 12px;
}