#kop {     
    background-color: #e2cfbd;
    border: thin solid white;
    height: 150px;
    text-align: center;
    margin 0;
    padding: 0;
    font-weight: bold;
}
#koph1{
    text-align: center; 
    font-size: 100px; 
    margin: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    width: 300px;
    height: 832.5px;
    background-color: #e2cfbd;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}
.active {
    background-color: #9a9a9a;
    color: white;
}
#quote {
    margin-left: 300px;
    margin-top: -810px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1280px;
}
#sidebar {
   
    list-style-type: none;
    margin-left: 1603px;
    margin-top: -142px;
    width: 300px;
    height: 947.5px;
    background-color: #e2cfbd;
}

.fa {
    margin-top: 20px;
    margin-left: 5px;
    padding: 20px;
    font-size: 7px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: red;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: purple;
    color: white;
}
.fa-google {
    background: #e4cf5c;
    color: white;
}
#fi {
    position: absolute;
    bottom: 0;
    width: 1900px;
    background-color: #e2cfbd;
    height: 95px;
    margin-top: -100px;
}
#fp {
    position: absolute;
    bottom: 0;
    width: 1900px;
    background-color: #e2cfbd;
    height: 95px;
    margin-top: 620px;
}
#fb {
    position: absolute;
    bottom: 0;
    width: 1900px;
    background-color: #e2cfbd;
    height: 95px;
}
#sidebarb {
    list-style-type: none;
    margin-left: 1603px;
    margin-top: -832.5px;
    width: 300px;
    height: 832.5px;
    background-color: #e2cfbd;  
}
#copyright {
    text-align: center;
    margin-top: -50px;
}
a:link {
    text-decoration: none;
    color: black;
} 
a:visited {
    text-decoration: none;
    color: black;
} 
a:hover {
    text-decoration: none;
    color: rgb(82, 82, 82);
}  
a:active {
    text-decoration: none;
    color: black; 
}
aside { 
    background: #9a9a9a;
    float: right;
    margin-top: -650px;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-right: 65px;
 }
 body {
    background-color: rgb(228, 228, 228);
 }
h3 {
    text-align: center;
}
#titel {
    font-size: 48px;
    text-align: center;
    margin-top: -790px;
}
#titelb {
    font-size: 48px;
    text-align: center;
    margin-top: -770px;
}
p   {
    padding-left: 310px;
    padding-right: 310px;
}
